/* li {
  color: black;
}
li:nth-child(odd) {
  background-color: #777;
}
li:nth-child(even) {
  background-color: lightgrey;
} */


ul li.sketch-preview:hover {
  background: #3374C2;
}

ul li.sketch-preview:focus {
  background: #3374C2;
}

ul a { text-decoration: none; color:black; }
ul a:visited { text-decoration: none; color:black; }
ul a:hover { text-decoration: none; color:black; }
ul a:focus { text-decoration: none; color:black; }
ul a:hover, a:active { text-decoration: none; color:black }



 ul.sketches-preview {
  list-style-type: none;
 }