@import "~react-image-gallery/styles/css/image-gallery.css";

ul li.sketch-preview:hover, ul li.sketch-preview:focus {
  background: lightblue;
}

ul.sketches-preview { list-style-type: none; }

ul.sketches-preview a { text-decoration: none; color:black; }

.image-carousel {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
